<div>
<header style="position:fixed; top: 0; margin: 10px 0px 20px 0px;">
    <img src="~/imagenes/flecha.png" width="20%" height="auto">
</header>
<img class="fondo" src="~/imagenes/bomba.jfif" width="50%" href='Url.Action("Bomba")'></img>
</div>