<div>
<header style="position:fixed; top: 0; margin: 10px 0px 20px 0px;">
    <img src="~/imagenes/flecha.png" width="20%" height="auto">
</header>
@{
    switch(ViewBag.imagen){
        case 1:
        switch(Escape.estadoJuego){
            case 3:

            break;
            case 0:
            <img class="fondo" src="~/imagenes/FondoBomba.0" width="50%" ></img>
            break;
            case 1:
            <img class="fondo" src="~/imagenes/FondoBomba.1" width="50%" ></img>
            break;
            case 2:
            <img class="fondo" src="~/imagenes/FondoBomba.2" width="50%" ></img>
            break;
            case 4:
            <img class="fondo" src="~/imagenes/FondoBomba.4" width="50%" ></img>
            break;
        }
        break;
    }
}

</div>