<div class="Inicial" >
<header style="position:fixed; top: 0; margin: 10px 0px 20px 0px;">
    <img src="~/imagenes/flecha.png" width="20%" height="auto">
</header>
@if(Escape.estadoJuego==3){
<video src="~/imagenes/Video.mp4" autoplay="true" muted="true" loop="true" width="50%" ></video>
}else{
  <img class="fondo" src="~/imagenes/definifitvo.jpg" width="50%"></img>
}
<a href='@Url.Action("Bomba",new {IMG=1})'>
<img src="~/imagenes/bomba.png" width="22%" height="auto" class=bomba></img>
</a>

</div>