@{
    ViewData["Title"] = "Index";
}
<body>
    <header>
        <nav class="navegador1">
            <ul>
                
                <li><a href="#">Comenzar Juego</a></li>
                <li><a href="#">Tutorial</a></li>            
                <li><a href="#">Créditos</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <h2></h2>
    </div>
    <img src="~/imagenes/bomba.jfif" width="25%" height="auto" >
    <img src="~/imagenes/bus.jfif" width="25%" height="auto" >
    <img src="~/imagenes/yani.jfif" width="25%" height="auto">
</body>