@{
    ViewData["Title"] = "Index";
}
<body>
    <div>
        <img src="~/imagenes/LOGO ESCAPE.png" alt="ESCAPE" width="350" height="150" style="margin-left:43%;">
    </div>
    <div class="linea">        
        <img src="~/imagenes/blanco.png" alt="blanco" width="1825em" height="2">
    </div>
    <div class="menu">
    <div class="yani">
        <img src="~/imagenes/yani.jpg" alt="creadora" width="350" height="450"> 
    </div>
    <div class="foto">
        <img src="~/imagenes/foto portada.jpg" alt="juego" width="350" height="450">  
    </div>
    <div class = "reglas">
        <img src="~/imagenes/reglas.jpg" alt="reglas">
    </div>
    </div>
     <a href='@Url.Action("Bus")'><button> Comenzar Partida</button></a>
     <a href='@Url.Action("Bus")'><button class="boton23"> Tutorial (aun no esta)</button></a>
     <a href='@Url.Action("Bus")'><button class="boton23"> créditos(aún no está) </button></a>

</body>