@{
    ViewData["Title"] = "Index";
}
<body>
    <header>
        <nav class="navegador1">
            <ul>
                
                <li><a href='@Url.Action("Bus")'>Comenzar Juego</a></li>
                <li><a href="#">Tutorial</a></li>            
                <li><a href="#">Créditos</a></li>
            </ul>
        </nav>
    </header>
    <div height="400px">
    <img src="~/imagenes/bomba.jfif" width="30%"height="400px">
    <img src="~/imagenes/bus.jfif" width="30%"height="400px">
    <img src="~/imagenes/yani.jfif" width="30%"height="400px">
    </div>
</body>