<header style="position:absolute; top: 0; margin: 10px 0px 20px 0px;">
<a href='@Url.Action("Bus")'>
    <img src="~/imagenes/flecha.png" width="20%" height="auto">
</a>

@{string x=Pistas.PedirPista(Escape.estadoJuego);}
<h2 width="100%">@x</h2>
