html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

video{
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  width: 100%;
}
.fondo{
  position: absolute;
  margin-left: 25%;
  float: center;
  z-index: -1;
}
img .resto{
  position: absolute;
  z-index: -2;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}
ul{
  margin: 3%;
  list-style: none;
}
ul li{
  
  float: left;
  width: 33%;
  font-size: 4em;
  border: 2px solid black;
}
a{
  text-decoration: none;
  color: black;
  float :middle;
}